* {
    margin: 0;
    padding: 0;
}


.me {
    background-image: url(bg\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.name {
    font-size: 60px;
}

.img3 {
    height: 60%;
    width: 80%;
}

.font {
    font-size: 14px;
}

.fs2 {
    font-size: 10px;
}

.text {
    width: 60%;
}

.input {
    outline: none;
    border:none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    width: 80%;
}